Host *
  ServerAliveInterval 60

# The below settings show how to access servers through a jumphost.

#Host jumphost
#  Hostname YYY.YYY.YYY.YYY
#  User ajayaa

#Host XXX.XXX.*.* !YYY.YYY.YYY.YYY
#  StrictHostKeyChecking no
#  User ubuntu
#  UserKnownHostsFile /dev/null
#  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null jumphost nc -q0 %h %p
